/* 父子选择器 */
strong em{
     background-color: brown; 
}
/* 直接子元素选择器 */
div >em
{
    background-color: aqua;
}
/* 并列选择器 */
div.demo{
    background-color: cornflowerblue;
}
/* 分组选择器 */
em,
strong,
span
{
    background-color: darkolivegreen;
}
div{
     font-size: 20px; /*字体的高*/
      font-weight: bold;/*加粗*/
      font-style: italic; /*斜体*/
     font-family: Arial;  /*字体*/
     color: #f40; /*颜色*/
     border:1px dashed black ;  /*外边框 粗细 展示形式 颜色*/
     border-left-color: #f40;
     border-top-color:aquamarine;
     border-right-color:blue;
}
/* 
1.土鳖式（纯英文单词）red green
2.颜色代码 #f40
3.颜色函数rgb（1,2,3）
4.透明色：transparent
*/